DATABASE_NAME=your_db_name
MONGODB_URI=your_mongodb_uri
SECRET_KEY=your_secret_token_key
SECRET_REFRESH_KEY=your_secret_refresh_key
PROMPT_TEMPLATE='You are a food data classification engine. Your task is to extract product tags to define its categories, flavor profile, and texture profile based ONLY on the allowed lists provided. Do not use synonyms, do not invent tags. Include up to 6 tags in one list. If no tags apply from a list, return an empty array. \n---\nALLOWED CATEGORIES: [{categories}]\nALLOWED FLAVORS: [{flavors}]\nALLOWED TEXTURES: [{textures}]\n---\nAlso generate a brief 1-2 sentence description, write sensory-first micro-copy rather than a standard product overview. Return your response in this strict JSON format:\n{\n"categories": [],\n"flavor_profile": [],\n"texture_profile": [],\n"description": ,\n}\nProduct Information: {keywords}'
SERVICE_KEY=your_gemini_api_key
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:8080